@media (max-width: 575.98px) {
  .hidden-xs {
    display: none;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .scores {
    white-space: nowrap;
  }
  thead {
    font-weight: bold;
  }
  .scores-form-group {
    margin-bottom: 0;
  }
  .table th,
  .table td {
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
  }
  thead {
    white-space: nowrap;
  }
  .select {
    -webkit-appearance: none;
  }

  .hidden-sm {
    display: none;
  }
  /*
  .tr{
    text-align: 'center';
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
  }   
   */
}
@media (min-width: 575.98px) {
  .hidden-lg {
    display: none;
  }
}
.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

.tableRowGreen {
  background-color: green;
  color: #eee;
}
.tableRowLightGreen {
  background-color: rgb(2, 224, 2);
  color: #222;
}
.tableRowYellow {
  background-color: yellow;
  color: #222;
}
.tableRowOrange {
  background-color: orange;
  color: #222;
}
.tableRowRed {
  background-color: crimson;
  color: #eee;
}
.tableHeader {
  background-color: #007bff;
  color: #eee;
}
.table {
  text-align: center;
}
.gamesHeader {
  text-align: center;
  padding: 10px;
}
.tableContainer {
  overflow-x: auto;
}

.appContainer {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.centeredHeader {
  text-align: center;
}
